</body>

<footer class="footer pt-5 pb-3">
    <div class="container">
        
        <div class="row">
        <div class="footer-section col-lg-3">
            <h4>Enlaces</h4>
            <ul>
                <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
                <li><a href="/nuestros-locales">Nuestros locales</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-section col-lg-3">
            <h4>Atención al cliente</h4>
            <ul>
                <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
                <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
                <li><a href="/politicas-de-delivery">Políticas de delivery</a></li>
                <li><a href="/politicas-de-privacidad">Políticas de privacidad</a></li>
                <li><a href="/libro-de-reclamaciones">Libro de reclamaciones</a></li>
            </ul>
        </div>
        <div class="footer-section col-lg-3">
            <h4>Contáctanos</h4>
            <ul>
                <li><strong>Atención:</strong><br>(01) 522 98738</li>
                <li><strong>Correo electrónico</strong><br>atencioncliente@tarea.com</li>
                <li><strong>Miraflores:</strong><br>Av. Hola Mundo 123, Miraflores</li>
                <li><strong>Pueblo Libre:</strong><br>Av. Programador 404, Pueblo Libre</li>
            </ul>
        </div>
        <div class="footer-section col-lg-3">
            <h4>Síguenos</h4>
            <div class="d-flex align-items-center redes">
            <a href="https://instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://tiktok.com"><ion-icon name="logo-tiktok"></ion-icon></a>
        </div>
        </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© Latte&Mate - 2024 | Todos los derechos reservados</p>
    </div>
</footer>
</html>