

<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <div class="main-login">
        <div class="group-0">
            <a href="/">
                <img src="/images/logo.png" alt="Logo Latte&Matte">
            </a>
        </div>
        </div>

    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/admin/AgregarProductos' ? 'active' : '' %>" href="/admin/crear-producto">Crear Poducto</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Volver a modo Usuario</a>
            </li>
        </ul>
    </nav>
</header>


<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/AgregarProductos' ? 'active' : '' %>" href="/admin/crear-producto">Crear Poducto</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Volver a modo Usuario</a>
            </li>
        </ul>
</nav>
