
<%- include ('includes/head.ejs') %>

</head>
<body>

    <%- include ('includes/navigation.ejs') %>


    <h1>Página No Encontrada!</h1>


    <%- include ('includes/end.ejs') %>


    




<!--
<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a class="active" href="/">Tienda</a></li>
            <li class="main-header_item"><a href="/admin/crear-producto">Crear Producto</a></li>
        </ul>
    </nav>
</header>
-->