<%- include ('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/producto.css">
</head>
<body>








    
<%- include ('includes/navigationAdmin.ejs') %>


    






    <form action="/admin/crear-producto" method="POST" class="container">
        <div class="container-productos">
            <h2 class="pb-4 mb-3">Agregar nuevos productos</h2>
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="form-group">
                        <label>Nombre del producto</label><br>
                        <input type="nombreproducto" name="nombre">
                    </div>


                    <div class="form-group">
                        <label>Descripción</label><br>
                        <textarea name="descripcionProducto" rows="10" cols="50">Escribe aqui una descripcion del producto</textarea>

                    </div>
                    

                    <div class="form-group">
                        <label>Categoria</label><br>
                        <select name="select">
                          <option value="value1"selected>cafe</option>
                          <option value="value2" >sandwich</option>
                          <option value="value3">postre</option>
                      </select>
                  </div>

                  <div class="form-3-group">
                    <div>
                        <label>Precio</label>
                        <input type="text" name = "precio" /><br />
                    </div>
                    <div>
                        <label>Precio promocional</label>
                        <input type="text" name="precioPromo" /><br />
                    </div>
                    <div>
                        <label>Disponibilidad</label>
                        <input type="text" name="disponibilidad" /><br />
                    </div>

                </div>

              
            </div>
            
            <div class="col-lg-5">
                <div class="download-image">
                    <p><label for="imageFile">Selecciona algunas imágenes(Ingresa URL):</label></p>
                    <p><input type="text" id="imageFile"  name="urlImagen" /></p>
                </div>
            </div>
           

            <div class="group pt-4">
                <button type="submit" class="btn btn-primary">Guardar</a>
            </div>
        </div>
    </div>
</form>










<%- include ('includes/end.ejs') %>



