.btn-primary{
    border-radius: 50px;
    background: #000 !important;
    color: #FFF;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border: 1px solid #000 !important;
}
.btn-primary:hover{
    background:#333 !important;
}

.grid__cards{
    display: flex;
    gap:24px;
    flex-wrap: wrap;
}
.card h2{
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

article.card{
    
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: #222;
    font-family: Arial;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width:960px){
  article.card{
    display: flex;
    width: 32%;
    flex-direction: column;
  }
}
article.card h2{
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
}
article.card .card__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
article.card .product__price{
    font-size: 20px;
    font-weight: bold;
}
article.card .group{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.empty__message{
    background-color: #FFD4AA;
    font-size: 20px;
    text-align: center;
    padding:20px;
}

.card_image img {
    max-width: 100%; 
    height: 300px; 
    display: block; 
}


/*pagina de cargar producto*/
.download-image{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    padding: 32px;
}

.container-productos{
  width: 1280px;
  padding:0 24px;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}
.form-group select{
    height: 40px;
}
.form-group label, .form-3-group label{
  font-weight: bold;
  font-size: 16px;
}
.form-group input, .form-3-group input{
    height: 40px;
}

.form-3-group{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.form-3-group input{
    width: 100%;
}


.product_price{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.card_content{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}

.product_title{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}