
<%- include ('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/producto.css">
</head>
<body>

<%- include ('../includes/navigation.ejs') %>

<div class="titulo-locales">
    <h1>Nuestros Locales</h1>
  </div>
  
  <div class="locales-container">
      <div class="local">
        <img src="/images/local1.jpg" alt="Local 1" class="local-img">
        <div class="local-info">
          <p>Dirección: Av. Hola Mundo 123, Miraflores</p>
          <p>Horario: Lunes a Viernes 9:00 AM - 6:00 PM</p>
        </div>
      </div>
    
      <div class="local">
        <img src="/images/local2.jpg" alt="Local 2" class="local-img">
        <div class="local-info">
          <p>Dirección: Av. Programador 404, Pueblo Libre</p>
          <p>Horario: Lunes a Viernes 9:00 AM - 6:00 PM</p>
        </div>
      </div>
  </div>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d975.2205773485111!2d-77.02978420449965!3d-12.120204267927589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1732070625102!5m2!1ses-419!2spe" 
    width="800" 
    height="450" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
    </main>
    
    <%- include ('../includes/end.ejs') %>