
<%- include ('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/producto.css">
</head>
<body>

<%- include ('../includes/navigation.ejs') %>

<div class="container privacy-container text-center">
    <h1 class="titulo-privacy">Políticas de Privacidad</h1>
    <p class="descripcion-privacy">
        En Latte&Mate, nos tomamos muy en serio tu privacidad y la seguridad de tu información personal. A continuación, te explicamos cómo recopilamos, usamos y protegemos tus datos.
    </p>

    <div class="privacy-content">
        <h2>Información que Recopilamos</h2>
        <p>
            Recopilamos información personal como nombre, dirección de correo electrónico, número de teléfono y detalles de pedidos realizados. Esta información es necesaria para procesar tus pedidos y mejorar nuestra comunicación contigo.
        </p>

        <h2>Uso de la Información</h2>
        <p>
            Utilizamos tu información para procesar pedidos, gestionar tu cuenta, enviarte actualizaciones sobre el estado de tus pedidos y, con tu permiso, enviarte promociones y ofertas especiales.
        </p>

        <h2>Protección de la Información</h2>
        <p>
            Nos comprometemos a proteger la seguridad de tus datos.
        </p>

        <h2>Compartir Información con Terceros</h2>
        <p>
            No vendemos, intercambiamos ni alquilamos tu información personal a terceros. Sin embargo, podemos compartir tu información con proveedores de servicios de pago y empresas de mensajería para procesar tus pedidos.
        </p>

        <h2>Derechos del Usuario</h2>
        <p>
            Tienes derecho a acceder, corregir y eliminar tu información personal en cualquier momento. Si deseas hacer alguna de estas acciones, por favor, contáctanos a través de los medios indicados abajo.
        </p>

        <h2>Cambios en la Política de Privacidad</h2>
        <p>
            Nos reservamos el derecho de modificar nuestra política de privacidad en cualquier momento. Si realizamos cambios significativos, te informaremos a través de nuestro sitio web.
        </p>

        <h2>Contacto</h2>
        <p>
            Si tienes alguna pregunta o inquietud sobre nuestras políticas de privacidad, por favor contáctanos a través de nuestro correo electrónico: contacto@lattemate.com.
        </p>
    </div>
</div>
    </div>
    </div>
    </main>
    
    <%- include ('../includes/end.ejs') %>