
<%- include ('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/producto.css">
</head>
<body>

<%- include ('../includes/navigation.ejs') %>

<div class="container terminos-container text-center">
    <h1 class="titulo-terminos">Términos y Condiciones</h1>
    <p class="descripcion-terminos">
        Al utilizar nuestro sitio web, aceptas los siguientes términos y condiciones. Si no estás de acuerdo, por favor no uses nuestro sitio.
    </p>

    <div class="terminos-content">
        <h2>1. Uso del Sitio</h2>
        <p>
            El acceso a nuestro sitio es temporal y nos reservamos el derecho de modificar o interrumpir el servicio en cualquier momento sin previo aviso.
        </p>
        
        <h2>2. Pedidos y Precios</h2>
        <p>
            Los precios pueden cambiar sin previo aviso. Nos esforzamos por ofrecer información precisa, pero no nos hacemos responsables de errores tipográficos. Aceptamos pagos seguros a través de diferentes métodos y no almacenamos tu información de pago.
        </p>
        
        <h2>3. Devoluciones y Reembolsos</h2>
        <p>
            Reembolsos solo podrán ser solicitados en caso el producto haya llegado en un estado no óptimo o con el sello abierto.
        </p>
        
        <h2>4. Propiedad Intelectual</h2>
        <p>
            Todo el contenido de nuestro sitio (textos, imágenes, logotipos) está protegido por derechos de autor. No se puede reproducir sin permiso.
        </p>
        
        <h2>5. Modificación de Términos</h2>
        <p>
            Podemos cambiar estos términos en cualquier momento. Las modificaciones serán efectivas al publicarse en el sitio.
        </p>
        
        <h2>6. Contacto</h2>
        <p>
            Si tienes dudas o preguntas, puedes contactarnos a través de contacto@lattemate.com o al (01) 522 98738.
        </p>
    </div>
</div>
    </div>
    </div>
    </main>
    
    <%- include ('../includes/end.ejs') %>